{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@200;300;500&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/swiggy/CSS/style.css' %}">

    {% comment %} <link rel="stylesheet" href="{% static '/Swiggy/CSS/style.css' %}"> {% endcomment %}

</head>

<body>

    <header class="header">
        <a href="#" class="logo">

            <img src="{% static '/image/logo.jpg' %}" class="logo-img" alt="">
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="#">features</a>
                <a href="#">products</a>
                <a href="#">categories</a>
                <a href="#">Offers</a>
                <a href="#">Help</a>
            </nav>
            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
                <div class="fas fa-search" id="search-btn"></div>
                <div class="fas fa-shopping-cart " id="cart-btn"></div>
                <div class="total-items-in-cart num-icon">0</div>


                <!-- <a href="signup.html"> <div class="fas fa-user" id="login-btn"></div></a> -->
                <div class="fas fa-user" id="login-btn"></div>
            </div>

            <div class="shopping-cart" id="shopping-cart">
                <div class="box"></div>
                <div class=" total subtotal">
                    Total (0 items): INR 0
                </div>
                <div class="checkout btn"><a href="http://localhost:5000/">Checkout</a>

                </div>
            </div>





            <form action="" class="login-form">
                <h3>login now</h3>
                <input type="email" placeholder="your email" class="box" id="email">
                <input type="password" placeholder="your password" class="box" id="password">
                <p>forget your password <a href="#">click here</a></p>
                <p>don't have account<a href="signup">create now</a></p>
                <input type="submit" value="login now" class="btn" id="save" onsubmit="loginForm(event)">
            </form>
    </header>

    <section class="home" id="home" style="overflow-x:auto;">
        <div class="content">
            <img src="{% static '/Swiggy/image/blog-1.jpg' %}" class="new" alt="">
            <img src="{% static '/Swiggy/image/ban2.webp' %}" class="new" alt="">
            <img src="{% static '/Swiggy/image/ban3.jpg' %}" class="new" alt="">
            <img src="{% static '/Swiggy/image/ban4.webp' %}" class="new" alt="">
        </div>
    </section>


    {% comment %} Wallet section {% endcomment %}

<section class="features container mt-5" id="features" style="border: 1px solid red;">

        <div class="row">
            <div class="col-8 p-5 text-white">
                <h3>Choose payment method</h3>

                <div class="d-flex mt-5 p-5">

                    <div class=" col-4 text-dark d-flex flex-column p-5 gap-4" style="background: #edf1f7;">
                        <span class="bg-white"><i class="fa-duotone fa-wallet"></i> Wallets</span>

                        <span class="mt-4"><i class="fa-sharp fa-solid fa-indian-rupee-sign"></i> UPI</span>
                    </div>

                    <div class="p-5">
                        
                        <div class="col-10 text-success p-4 amazon_pay" style="border: 1px solid green;">
                            <img src="{% static '/img/Amazon_Pay-Logo.png' %}" alt="amazon">
                            <h3>Amazon pay</h3>

                            <button class="btn ">PAY 365</button>
                        </div>

                        <form action='payment' method="POST">
                        {% csrf_token %}
                        <div class="col-10 text-success p-4 amazon_pay" style="border: 1px solid green;">
                            <input type="hidden" name="food" value="South_Meal"> 
                            <input type="hidden" name="Idno" value="Idno"> 
                            <input type="hidden" name="Date" value="Date"> 
                            <input type="hidden" name="Status" value="Status"> 
                            <button class="btn ">PAY 365</button>
                        </div>
                    </form>

                        {% comment %} <div class="col-10 amazon_pay p-4 text-success mt-5" style="border: 1px solid green;">
                            <img src="{% static '/img/Amazon_Pay-Logo.png' %}" alt="amazon">
                            <h3>Amazon pay</h3>

                            <button class="btn ">PAY 365</button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-4 bg-gradient bg-light">
               <div class="m-5">
                <div class="row">
                    <div class="col-2">
                        <img src="{% static '/img/idli.jpg' %}" alt="" class="pay-img">
                    </div>

                    <div class="col-8">
                        <h5>Salt & Pepper</h5>
                        <h6>kathalbari</h6>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <p>Kadhai Paneer</p>
                    </div>

                    <div class="col-4">

                    </div>

                    <div class="col-2">
                        Rs 539.0
                    </div>
                </div>

                <div class="row mt-4 border p-2">
                    <div class="col-1">
                        <input type="checkbox">
                    </div>
                    <div class="col-11">
                        <h6>
                            Opt in for No-contact Delivery</h6>
                        <p>Unwell, or avoiding contact? Please select no-contact delivery. Partner will safely place the
                            order outside your door (not for COD)</p>
                    </div>
                </div>

                <div class="row mt-4 border p-3">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                       <h3>Apply Coupon</h3>
                    </div>
                </div>

                <div calss="p-3">
                    <h3 class="mt-4"><b>
                        Bill Details</b></h3>

                <div class="row p-3 ">
                    <div class="col-6">
                       <h4>Item Total</h4>
                    </div>
                    <div class="col-6">  
                        Rs 540.0
                    </div>
                </div>

                    <div class="row  p-3">
                        <div class="col-6">
                           <h4>Delivery partner fee</h4>
                        </div>
                        <div class="col-6">  
                            Rs 19.0
                        </div>
                    </div>
                    <div class="row p-3 border-bottom">
                        <div class="col-6">
                           <h4>Govt Taxes & Other Charges</h4>
                        </div>
                        <div class="col-6">  
                            Rs 27.0
                        </div>
                    </div>
                    <div class="row p-3 ">
                        <div class="col-6">
                           <h4><b>To Pay</b></h4>
                        </div>
                        <div class="col-6">  
                            Rs 587.0
                        </div>
                    </div>
                </div>

            </div>
               </div>
        </div>
     
</div>

    </section>





    <script src="{% static '/Swiggy/JS/script.js' %}"></script>
    <script src="{% static '/JS/cart.js' %}"></script>
    <script src="https://kit.fontawesome.com/a5ebab8707.js" crossorigin="anonymous"></script>
</body>

</html>